* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: $fontMain;
}

body {
  background-color: $color-fifth;
  color: $color-primary;
}

.content-container {
  margin-inline: 16.5rem;
  max-width: 111rem;

  @media screen and (min-width: 1400px) {
    margin-inline: auto;
  }

  @media screen and (max-width: 1100px) {
    margin-inline: 3rem;
  }

  @media screen and (max-width: 900px) {
    margin-inline: 1.6rem;
  }
}
