//do dodania elementy dekoracyjne (spirale etc.)

.hero {
  width: 100%;
  height: 82.5rem;
  position: relative;

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.9rem;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      position: relative;
    }

    .logo {
      font-style: normal;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 3.2rem;
      letter-spacing: -0.0444444rem;
    }

    .social-container {
      display: flex;
      justify-content: space-around;
      width: 19.5rem;

      svg {
        color: rgb(255, 255, 255);

        &:hover {
          color: $color-fourth;
        }
      }
    }
  }

  .hero-dev-img {
    max-width: 44.5rem;
    max-height: 72rem;
    position: absolute;
    right: 0;
    top: -1rem;
    z-index: -20;

    @media screen and (max-width: 1100px) {
      max-height: 60rem;
      max-width: 32.2rem;
    }

    @media screen and (max-width: 900px) {
      max-width: 17rem;
      max-height: 38rem;
      // right: 19rem;
      // top: 13rem;
      box-shadow: 5px -94px 100px 14px rgba(25, 25, 29, 0.85);
      border-radius: 1rem;
      position: static;
      padding-top: 4rem;
    }
  }

  .ring {
    width: 530px;
    height: 130px;
    position: absolute;
    z-index: -19;
    top: 8rem;
    left: -35rem;
  }

  .h1-hero {
    @include headerMain();
    width: 75rem;

    @media screen and (max-width: 1330px) {
      width: 50rem;
    }
    @media screen and (max-width: 900px) {
      font-size: 4rem;
      line-height: 4rem;
      padding-top: 4rem;
      width: 100%;
    }

    .name {
      border-bottom: solid 5px $color-fourth;
    }
  }

  .p-primary {
    @include primaryPar();
    padding-top: 4rem;
    padding-bottom: 6.6rem;
    width: 44.5rem;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .p-secondary {
    @include secondaryPar();
    &:hover {
      color: $color-fourth;
    }
    @media screen and (max-width: 900px) {
      margin-bottom: 8rem;
    }
  }
}

// RWD TABLETS
